

header#master-header{
  background: url('../img/bg/bg-header.jpg') no-repeat center fixed;
  background-size: cover;
  color: $color-header;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  position: relative;

  .header-logo {
      display: flex;
      flex-direction: column;
  }

  .by-Yakaygo{
    margin-top: -1rem;
    img, span{
      height: 1rem;
    }
  }

  .mainNav{
    justify-content: center;
  }

  #navbarNav{
    border-bottom: 2px solid #ebc78f;
    @media screen and (max-width: 991px) {
      border: 0;
    }
    ul li{
      margin-right: 1rem;
      margin-left: 1rem;
      text-transform: uppercase;
      a{
        &:hover{
          background-color: #ebc78f;
        }
      }
    }
  }

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: $color-header;
    font-weight: 600;
  }

  .site-title{
    margin-bottom: 4rem;
    h1{
      font-family: $font-main;
      font-weight: 800;
    }
    p{
      font-weight: 600;
      font-size: 1.2rem;
    }
    .animate-arrow{
      display: none;
      @media screen and (min-width: 991px) {
        display: inline;
        width: 70%;
        position: relative;
        animation: bounce 5s infinite;

        @keyframes bounce {
        100% {
          transform:(translateY(0));
        }
        50% {
          transform:(translateY(15px));
        }
      }

      }
    }
  }

  form .row{
    margin: 0;
  }

  .search{
    padding-bottom: 3rem;
    .info{
      font-weight: 700;
      padding-top: 3rem;
      text-transform: uppercase;
    }
  }

  .navbar-light .navbar-toggler {
    color: white;
    border: 0;
  }

}
