//Fonts
$font-title: 'base02', sans-serif;
$font-size-title: 3rem;
$font-main:  'Nunito Sans', sans-serif;

//Color
$color-main:  rgb(35, 194, 82);
$color-secondary: #fff;
$color-bg-footer: #201004;
$color-header: white;
$color-bg-btn-danger: #e9511f;
