section.themes{
  h1{
    font-family: $font-title;
  }
  figure{
    position: relative;
    margin: 0 -0.8rem -0.3rem;
    filter: grayscale(0);
    transition: 0s ease-in-out;
    &:hover{
      // filter: grayscale(100%);
    }
    .btn-danger:hover {
      // background-color: #636162;
    }
    figcaption{
      position: absolute;
      bottom: 0.5rem;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      text-align: center;
      font-weight: 600;
      font-size: 2rem;
      height: 50%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      img{
        height: 50%;
      }
      p{
        margin: inherit;
      }
      @media screen and (max-width: 576px) {
        font-size: 1rem;
      }
    }
    .show{
      display: none;
      position: absolute;
      top: 40%;
      right: 33%;
      @media screen and (max-width: 445px) {
        top: 35%;
        right: 25%;
      }
    }
  }

}
