section.top-stages{
h1{
  font-family: $font-title;
}
article h1{
  font-family: $font-main;
}
  .top-stages-title{
    text-align: right;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media screen and (max-width: 991px) {
      text-align: center;
    }
  }

}
